<header>
    <div class = "top-header">
        <div class="logo_akme">
            <a href="/"><img class="logo" src="/images/logo-akme-safety.png" alt="logo akme"></a>
        </div>

        <form class="search" action="#" method="GET">
            <input type="text" class ="input" placeholder="Buscar productos, marcas y más">
            <button class="submit"><i class="fa fa-search"></i></button>
        </form>

        <ul>
            <li><a href="/users/login"><i class="fa-solid fa-user"><p>Mi cuenta</p></i></a></li>
            <li><a href="/users/userCart"><i class="fa-solid fa-cart-shopping"><p>Mi carrito</p></i></a></li>
        </ul>
    </div>
    <div class="nav-bg">
        <nav class="contenedor-nav">
            <a href="/">Home</a>
            <a href="/products/products">Productos</a>
            <a href="/contact">Contacto</a>
            <a href="/about">Nosotros</a>
            <a href="/products/create">Admin</a>            
        </nav>
    </div>


</header>